/*HEADER FORMAT*/

header {
  background-color: #E5F3F2;
  height: 35vh;
  text-align: center;
  width: 100vw;
}

h1 {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 25px;
}

h1.teal {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
}

h1.grey {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.input {
  height: 20px;
  margin-bottom: 13px;
  width: 100%;
}

.save-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 1em;
  height: 50%;
  margin-top: 15px; 
  padding: 6px;
}

.save-button:hover {
  background-color: #045E55;
  color: #FFFFFF;
}

/*MAIN CONTENT FORMAT*/

.main-content {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  margin-top: 30px;
  width: 60%;
}

.search-field {
  border-radius: 0;
  height: 20px;
  margin-bottom: 13px;
  width: 100%;
}

/*Idea CONTENT*/

article {
  border-bottom: 2px solid #6D6E71;
  display: flex;
  flex-direction: column;
}

span {
  align-content: space-between;
  align-items: center;
  display: inline-flex;
}

h2 {
  color: #6D6E71;
  display: inline-flex;
  flex-direction: row;
  font-family: 'Roboto Slab', serif;
  font-size: 1.25em;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 90%;
}

p {
  color: #939598;
  width: 100%;
  word-wrap: break-word;
}

.delete-button {
  background: url(../images/delete.svg.png) no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 20px;
  border: none;
  height: 20px;
  margin-left: auto;
  width: 20px;
}

.delete-button:hover {
  background: url(../images/delete-hover.svg.png);
  background-color: transparent;
  background-size: 20px;
}

.bottom-line {
  margin-top: 20px;
  margin-bottom: 20px;
}

p.quality {
  align-items: center;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 20px;
}

.up {
  align-items: center;
  background: url(../images/upvote.svg.png) no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 20px;
  border: none;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.up:hover {
  background: url(../images/upvote-hover.svg.png) no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 20px;
}

.down {
  align-items: center;
  background: url(../images/downvote.svg.png) no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 20px;
  border: none;
  display: inline-block;
  height: 20px;
  margin-left: 2px;
  margin-right: 5px;
  width: 20px;
}

.down:hover {
  background: url(../images/downvote-hover.svg.png) no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 20px;
}

/* Media queries: small screens */
@media (max-width: 450px) {
  header {
    height: 48vh;
  }

  .body-input-field {
    height: 60px;
  }
}
